.root {
  --height: 60px;

  flex-grow: 0;
  flex-shrink: 0;
  background: white;
  padding: 0 calc(var(--unit) * 2);
  height: var(--height);
  display: flex;
  align-items: center;
  box-shadow: var(--shadow);
}

.root h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.root input:focus {
  outline: none;
}

.root svg {
  height: 24px;
}

.root > * {
  margin-left: var(--unit);
}

.root > *:first-child {
  margin-left: 0;
}

.root form {
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 1;
}

.root input {
  border: none;
  padding: 0;
  font-size: 26px;
  font-weight: bold;
  width: 100%;
  flex-shrink: 1;
}

.right {
  margin-left: auto;
}

.root .back {
  text-decoration: none;
  padding: 6px 4px 6px 2px;
}
